body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

section section {
    margin-top: 1em;
    padding-top: 1em;
}

#controlPanel section:first-child {
    padding-top: 0em;
    padding-bottom: 1em;
}

    #controlPanel #searchform input {
        width: 75%;
    }

    #controlPanel #searchform .btn {
        width: calc(25% - 8px);
    }

    #controlPanel .h1 {
        font-size: 32px;
    }

    #controlPanel #resultsPanel th {
        text-align: left;
        padding-right: 1em;
        width: 100%;
    }

    #controlPanel #dataPanel th {
        text-align: left;
        padding-right: 2em;
    }

    #controlPanel #voicePanel {
        display: none;
    }

    #controlPanel #currentViewPanel ul {
        list-style: none;
        padding: 0;
        margin-left: -0.5em;
    }

        #controlPanel #currentViewPanel ul li a {
            display: block;
            width: 100%;
            height: 100%;
            padding: 0.5em;
        }

        #controlPanel #currentViewPanel ul li a:focus {
            background-color: #7986CB;
            color: white;
        }

#mapPanel {
    margin-left: -15px;
    padding-right: 0px;
}

#map > svg {
    width: calc(100% + 15px);
    height: 100vh !important;
    height: calc(100vh - 56px);
    background-color: #ECEFF1;
}

    #map > svg > #SVG_MAIN_CONTENT {
        transform: translate(0, 0);
    }

    #map > svg > #SVG_MAIN_CONTENT .map-marker text {
        fill: #212121;
        background-color: black;
        text-shadow: 0px 0px 0px black;
        font-size: 0.3em;
    }

    #map > svg > #SVG_MAIN_CONTENT .gmarker circle {
        fill: #C51162;
    }

    #map > svg > #SVG_MAIN_CONTENT .gmarker text {
        fill: white;
    }

    #map > svg > #SVG_MAIN_CONTENT .building {
        fill: #90A4AE;
        stroke: #455A64;
        stroke-width: 0.05em;
    }

    #map > svg > #SVG_MAIN_CONTENT a:not(.non-clickable):focus .building, #map > svg > #SVG_MAIN_CONTENT a:not(.non-clickable):hover .building,  #map > svg > #SVG_MAIN a.active .building, #map > svg > #SVG_MAIN_CONTENT a.gmarker:focus circle, #map > svg > #SVG_MAIN_CONTENT a.gmarker:hover circle,  #map > svg > #SVG_MAIN a.active.gmarker circle {
        stroke: blue;
    }

#pad {
    text-align: center;
}

    #pad .row {
        margin-right: 0;
        width: 0;
    }

    #pad .btn {
        border-radius: 3px;
        border: 0;
        background: #455A64;
        margin-bottom: 8px;
        padding: 0;
        width: 2em;
        height: 2em;
        font-size: 1.5em;
        line-height: 2em;   
        color: white;
    }

        #pad .btn:hover {
            background-color: #78909C;
            outline: 1;
        }

        #pad .btn:focus {
            box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .75);
        }

#centermark {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -8px;
    margin-top: -8px;
    z-index: 999;
    line-height: 16px;
    font-size: 16px;
    user-select: none;
}

#results-table {
    width: 100%;
}

#results-table tr th {
    width: 100%;
}

#results-table tr td {
    text-align: right;
}

#textual {
    display: none;
    padding: 1em;
}

@keyframes rotation {
	from {transform: rotate(0deg); }
	to {transform: rotate(360deg); }
}

.rotating-spinner {
	animation-name: rotation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@media(min-width: 992px) {
    #map {
        position: fixed;
        width: 66%;
        height: 100%;
    }
}

@media(max-width: 992px) {
    #map > svg {
        height: calc(100vh - 200px) !important;
    }
}