body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

.bold {
    font-weight: bold;
}

.black {
    color: #0C0C0C;
}

.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

nav.inline {
    margin: 0;
    height: 3em;
    padding: 1em;
    line-height: 2em;
}

.navbar {
    min-height: 59px;
}

#controlPanel {
    background-color: white;
}

#controlPanel section:first-child {
    padding-top: 0em;
    padding-bottom: 1em;
}

    #controlPanel .h1 {
        font-size: 2em;
    }

    #controlPanel #resultsPanel th {
        text-align: left;
        padding-right: 1em;
        width: 100%;
    }

    #controlPanel #dataPanel th {
        text-align: left;
        padding-right: 2em;
    }

    #controlPanel #voicePanel {
        display: none;
    }

    #controlPanel .stacked-list {
        list-style: none;
        padding: 0;
        margin-left: -0.5em;
    }

        #controlPanel .stacked-list li a {
            display: block;
            width: 100%;
            height: 100%;
            padding: 0.5em;
        }

        #controlPanel .stacked-list li a:focus {
            background-color: #0842A1;
            color: white;
        }


.btn-action {
    width: 2.5em;
    height: 2.5em;
}

#mapPanel {
    margin-left: -15px;
    padding-right: 0px;
}

#map > svg {
    width: calc(100% + 15px);
    height: 100vh;
    background-color: #ECEFF1;
}

    #map > svg > #SVG_MAIN_CONTENT {
        transform: translate(0, 0);
    }

    #map > svg > #SVG_MAIN_CONTENT .map-marker text {
        fill: #0C0C0C;
        background-color: black;
        text-shadow: 0px 0px 0px black;
        font-size: 0.3em;
    }

    #map > svg > #SVG_MAIN_CONTENT .gmarker circle {
        fill: #07003A;
    }

    #map > svg > #SVG_MAIN_CONTENT .gmarker text {
        fill: white;
    }

    #map > svg > #SVG_MAIN_CONTENT .building {
        fill: #90A4AE;
        stroke: #455A64;
        stroke-width: 0.05em;
    }

    #map > svg > #SVG_MAIN_CONTENT a:not(.non-clickable):focus .building, #map > svg > #SVG_MAIN_CONTENT a:not(.non-clickable):hover .building, #map > svg > #SVG_MAIN_CONTENT a.gmarker:focus circle, #map > svg > #SVG_MAIN_CONTENT a.gmarker:hover circle,  #map > svg > #SVG_MAIN a.active.gmarker circle {
        stroke: blue !important;
    }

    #map > svg > #SVG_MAIN_CONTENT a.active .building {
        stroke: blue !important;
    }

#pad {
    text-align: center;
}

    #pad .row {
        margin-right: 0;
        width: 0;
    }

    #pad .btn {
        border-radius: 3px;
        border: 0;
        background: #455A64;
        margin-bottom: 8px;
        padding: 0;
        width: 2em;
        height: 2em;
        font-size: 1.5em;
        line-height: 2em;   
        color: white;
    }

        #pad .btn:hover {
            background-color: #78909C;
            outline: 1px;
        }

        #pad .btn:focus {
            box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .75);
        }

#results-table {
    width: 100%;
}

#results-table tr th {
    width: 100%;
}

#results-table tr td {
    text-align: right;
}

#textual {
    display: none;
    padding: 1em;
}

.specific-radio-controls .badge:focus {
    background-color: #00428C;
    text-decoration: underline;
}


#featureInfoPanel {
    position: relative;
}

    #featureInfoPanelBody {
        width: 100%;
        position: absolute;
        bottom: 2em;
    }

    #featureInfoPanelBody .card {
        width: 80%;
        margin: auto;
        z-index: 3;
        pointer-events: auto;
        margin-top: -10px;
        display: none;
        opacity: 0;
    }
        #featureInfoPanelBody .card .props .prop {
            padding: 0.5em 0em 0.5em 0em;
            border-bottom: solid 1px #0C0C0C;
        }

        #featureInfoPanelBody .card .props .prop:last-child {
            border-bottom: none;
        }

@keyframes rotation {
	from {transform: rotate(0deg); }
	to {transform: rotate(360deg); }
}

.rotating-spinner {
	animation-name: rotation;
    animation-duration: 2s;
    animation-iteration-count: 2;
    animation-timing-function: ease-in-out;
}