body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

    #map > svg {
        width: 100%;
        height: calc(100vh - 56px);
        background-color: #ECEFF1;
    }

    #map > svg > #SVG_MAIN_CONTENT {
        transform: translate(0, 0);
    }

        #map > svg > #SVG_MAIN_CONTENT .map-marker text {
            fill: #212121;
            background-color: black;
            text-shadow: 0px 0px 0px black;
            font-size: 0.3em;
        }

        #map > svg > #SVG_MAIN_CONTENT .building {
            fill: #90A4AE;
            stroke: #455A64;
            stroke-width: 0.05em;
        }

        #map > svg > #SVG_MAIN_CONTENT a:focus .building, #map > svg > #SVG_MAIN_CONTENT a:hover .building,  #map > svg > #SVG_MAIN a.active .building, #map > svg > #SVG_MAIN_CONTENT a:focus .gmarker-circle, #map > svg > #SVG_MAIN_CONTENT a:hover .gmarker-circle,  #map > svg > #SVG_MAIN a.active .gmarker-circle {
            stroke: blue;
        }

#controls {
    padding: 16px;
}

    #controls #pad {
        text-align: center;
    }

        #controls #pad .btn {
            border-radius: 3px;
            border: 0;
            background: #455A64;
            margin-bottom: 8px;
            padding: 0;
            width: 2em;
            height: 2em;
            font-size: 1.5em;
            line-height: 2em;   
            color: white;
        }

            #controls #pad .btn:hover {
                background-color: #78909C;
            }

            #controls #pad .btn:focus {
                box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .75);
            }

        #controls #pad .row .btn:nth-child(2) {
            margin-left: 2em;
        }

table th {
    text-align: left;
    padding-right: 1em;
}

#centermark {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -8px;
    margin-top: -8px;
    z-index: 999;
    line-height: 16px;
    font-size: 16px;
    user-select: none;
}